/* Skip this body part */
body {
  background-color: #f7f7fc;
}

/* ====================================== */

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 300px;
}

#carbonads>span {
  display: block;
  position: relative;
  padding: 10px;

  border-radius: 4px;
  background-color: #fff;
  box-shadow:
    0 0 1px 1px hsla(0, 0%, 0%, .05),
    0 0 2px 2px hsla(0, 0%, 0%, .05),
    0 0 4px 4px hsla(0, 0%, 0%, .05);
}

#carbonads .carbon-wrap {
  display: flex;
}

#carbonads .carbon-img {
  margin-right: 10px;

  line-height: 1;
}

#carbonads .carbon-text {
  margin-bottom: 12px;

  font-size: 12px;
  line-height: 1.45;
  text-decoration: none;
  color: #637381;
}

#carbonads .carbon-poweredby {
  position: absolute;
  bottom: 10px;
  left: 152px;

  font-size: 8px;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #c5cdd0;
}