#carbonads {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 240px;
  height: 180px;
  text-align: center;
  background-color: #fff;
  box-shadow: inset 0 0 1px 1px hsla(0, 0%, 0%, .15);
}

#carbonads a {
  text-decoration: none;
  color: #111;
}

#carbonads a:hover {
  color: #111;
}

#carbonads span {
  display: block;

  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 0 8px;

  line-height: 1;
}

.carbon-img img {
  width: 150px;
  max-width: 150px !important;
  height: auto;
}

.carbon-text {
  display: block;
  margin-bottom: 8px;
  padding: 0 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.35;
}

.carbon-poweredby {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px 6px;

  font-size: 8px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #fff !important;
  background-color: hsl(0, 0%, 10%);
}
