.node text {
  font-size: 10px;
  font-family: "Helvetica";
  stroke: none;
  fill: grey;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

h3 {
  color: #1ABC9C;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  font-family: "Helvetica";
}